/* .customer-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 1210px;
  max-width: 95%;
  overflow-x: auto;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
} */

