.add-leads-form {
  width: 100%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.leads-form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  min-width: 100px;
  text-align: left;
  margin-left: 20px;
}

.form-group input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.submit-button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

.addLeadsFormWrapper {
  width: 95%;
}

.white-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 100px;
  width: 70%;
}
