.registration-container {
    width: 600px;
    margin: 90px auto 0;
    background: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .registration-title {
    color: #17a2b8;
    text-align: center;
  }
  
  hr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
  }
  
  .registration-field {
    margin-bottom: 15px;
    width: 555px;
    margin-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .registration-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .registration-btn:hover {
    background-color: #0056b3;
  }
  
  .registration-row{
      display: flex;
      justify-content: center;
  }
  
  .registration-col{
      width: 100%;
  }

  .login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }